/*
###################
# VARIABILI STYLE #
###################
*/
$margin-light:15px;
$margin-medium:30px;
$margin-big:50px;
$margin-very-big:70px;
$grigio_logo_footer:#C9C9C9;
$site_black:#3C3C3B;
$black_title:#3C3C3B;
$width_homepage:750px;
$width_footer:1400px;
$grey_text:#9C9C9C;
$light_font:300;
$extra_weight_font:800;
$grigio_sfondo_pagina:#F7F7F7;
$grigio_sfondo_prodotti_box:#E8E8E8;

@mixin transition($x...){
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  -o-transition: $x;
  transition: $x;
}
/*
###################
# VARIABILI STYLE #
###################
*/

.font-titoli{
	font-family:'Maven Pro', sans-serif;
}

.video-overlay{
	z-index:-1!important;
}

.clearfix{
	clear:both;
}

h1{
	font-size:47px;
	margin:10px 0;
	color:$black_title;
	font-height:$light_font;
	font-weight:$extra_weight_font;
}

h2{
	font-size:16px;
	letter-spacing:1px;
	color:$black_title;
	font-height:$light_font;
}

p{
	color:$grey_text;
	font-size:16px;
	font-weight:$light_font;
	line-height:23px;
	margin-top:$margin-big;
}

.vertical-align-fix{
	display:inline-block;
	height:100%;
	width:0;
	vertical-align: middle;
}

::placeholder {
	color:#c3c3c3;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #c3c3c3;
}

::-ms-input-placeholder { 
	color: #c3c3c3;
}

.btn-standard{
	color:#fff;
	font-size:17px;
	font-weight: 300;
	text-decoration:none;
	padding:5px 25px;
	background-color:$site_black;
	@include transition(all 330ms ease-in-out 0s);

	&:hover{
		background-color:$grigio_logo_footer;
		color:$site_black;
	}
}

a{
	color:$black_title;
}

address{
	line-height:22px;
}

.titolo-principale-pagina{
	h1{
		text-align:center!important;
		color:$black_title!important;
	}
}

.margine-superiore-50{
	margin-top:50px;
}

.pagina-interna-generica{
	padding:50px 0;

	.titolo-pagina-interna-generica{
		h1{
			text-align:center!important;
			color:$black_title!important;
		}
	}

	.contenuto-pagina-interna-generica{
		strong{
			font-weight:600;
		}
	}
}
/*
################
# HEADER STYLE #
################
*/
#body{
	font-family:"freight-sans-pro", sans-serif;;

	.site{

		header{
			padding: 10px 15px;
			position: fixed;
			z-index: 100;
			width: 100%;
			background-color: #fff;

			#cerca-header-container{
				position:absolute;
				right:0;
				top:0;
				padding:15px 0;
				width:0;
				height:100%;
				overflow:hidden;
				z-index:101;
				background-color:#fff;
				text-align:right;
				opacity:0;
				@include transition(all 500ms ease-in-out 0s);

				#container-relative{
					position:relative;
					margin-top: 15px;
					margin-left: 15px;
					margin-right: 15px;

					input[type="search"]{
						border-top:0;
						border-left:0;
						border-right:0;
						border-bottom:1px solid #c3c3c3;
						width:100%;
						font-size:20px;
						color:#c3c3c3;
						font-weight:300;
						outline:0;
						padding:3px;

						&:focus{
							border-bottom-width: 2px;
						}
					}

					button{
						background-color: #fff;
						border: 0;
						position: absolute;
						right: 40px;
						bottom: 4px;

						svg{
							height: 25px;
							width:18px;
						}
					}

					#close-ricerca{
						position: absolute;
						right: 10px;
						height: 22px;
						bottom: 9px;
						display: inline-block;
						cursor: pointer;
						width: 23px;
						height: 23px;
					}
				}

				&.active-search{
					width:100%;
					opacity:1;
				}
			}

			.logo_header{
				float:left;

				a{

					img{
						width:138px;
					}
				}
			}
		}

		.header_container{
			background-color:#fff;
			padding:10px 0;

			.main-navigation{
				float:right;
				margin-top:10px;

				.menu-menu-principale-container{
					display:inline-block;
					vertical-align:middle;

					#menu-menu-principale{
						
						li{
							display:inline-block;
							padding:5px 15px;

							a{
								color:$site_black;
								text-decoration:none;
								text-transform:uppercase;
								font-size:16px;

								&:before{
									content:" ";
									width:10px;
									height:3px;
									background-color:$site_black;
									display:inline-block;
									margin-bottom:4px;
									margin-right:5px;
									@include transition(all 500ms ease-in-out 0s);
								}
							}

							&:hover{
								a:before{
									width:15px;
									margin-left:-5px;
								}
							}
						}
					}
				}

				#other-function-menu{
					display:inline-block;
					vertical-align:middle;

					#vertical-bar-menu{
						width:1px;
						height:18px;
						background-color:$site_black;
						display: inline-block;
						margin-top:2px;
						vertical-align:middle;
					}

					#icon-function-menu{
						display: inline-block;
						vertical-align:middle;
						margin-bottom:-4px;

						#search-button-menu{
							display:inline-block;
							vertical-align:middle;
							margin-left:20px;
							cursor:pointer;
							padding:5px;
							@include transition(all 500ms ease-in-out 0s);

							svg{
								width:18px;
								height:18px;
								@include transition(all 500ms ease-in-out 0s);
							}

							&:hover{
								background-color:$site_black;
								.account_icon{
									stroke:#fff;
								}
							}
						}

						#account-icon{
							display:inline-block;
							vertical-align:middle;
							margin-left:20px;
							cursor:pointer;
							padding:5px;
							@include transition(all 500ms ease-in-out 0s);

							svg{
								width:18px;
								height:18px;
								@include transition(all 500ms ease-in-out 0s);
							}

							&:hover{
								background-color:$site_black;
								.account_icon{
									stroke:#fff;
								}
							}
						}

						#language-button-menu{
							display:inline-block;
							vertical-align:middle;
							width:18px;
							margin-left:20px;
							position: relative;
							@include transition(all 500ms ease-in-out 0s);

							.cur_lang{
								text-transform:uppercase;
								font-sze:14px;
								color:$grey_text;
								letter-spacing: 1px;
								cursor: pointer;
							}

							.list_lang{
								height:0;
								top:-20px;
								position:absolute;
								overflow:hidden;

								a{
									text-transform:uppercase;
									font-sze:14px;
									color:$grey_text;
									letter-spacing: 1px;
									text-decoration: none;
								}
							}

							&:hover .list_lang{
								height: auto;
								top:0;
							}
						}

						#cart-button-menu{
							display:inline-block;
							vertical-align:middle;
							width:18px;
							margin-left:10px;

							a{
								padding:5px;
								display:inline-block;
								position:relative;
								text-decoration: none;
								@include transition(all 500ms ease-in-out 0s);

								#carrello-ico{
									display:inline-block;
									fill:$grigio_logo_footer;
									display:inline-block;
									@include transition(all 500ms ease-in-out 0s);
								}

								#indication-number-prod{
									-webkit-border-radius: 50%;
									-moz-border-radius: 50%;
									border-radius: 50%;
									border:2px solid #fff;
									text-align: center;
									font-size:10px;
									font-weight:$extra_weight_font;
									line-height: 14px;
									width:20px;
									height:20px;
									background-color:#E42D1B;
									color:#fff;
									position:absolute;
									top:-10px;
									right:-10px;
									font-family:sans-serif!important;
								}
							}

							&.active-cart a, &:hover a{
								background-color:$site_black;

								#carrello-ico{
									fill:#fff;
									stroke:#fff;
								}
							}

							#alert-add-product{
								position:absolute;
								width:0;
								height:0;
								background-color:$site_black;
								bottom:-25px;
								color:#fff;
								right:0;
								height:25px;
								z-index:10;
								overflow:hidden;
								@include transition(all 500ms ease-in-out 0s);

								div{
									width:200px;
									padding-top:5px;
									padding-left:5px;
								}

								&.active-alert-cart{
									width:200px;
								}
							}
						}
					}
				}
			}
		}
	}
}
/*
################
# HEADER STYLE #
################
*/

/*
################
# FOOTER STYLE #
################
*/
footer{
	background-color:$site_black;
	padding-top:$margin-big;
	padding-bottom:$margin-big;
	padding-left:15px;
	padding-right:15px;
	overflow:hidden;

	a{
		color:$grey_text;
		text-decoration:none;
		@include transition(all 0.33s ease-in-out 0s);

		&:hover{
			color:#fff;
		}
	}

	#footer-content{
		max-width:$width_footer;
		width:100%;
		margin:0 auto;

		.row-footer{
			width:25%;
			float:left;
			padding-left:110px;
			padding-top:10px;

			p{
				margin-top:0;
			}

			>div:first-child{
				color:#fff;
				font-weight:$extra_weight_font;
				text-transform:uppercase;
				font-size:16px;
				margin-bottom:25px;
			}

			ul{
				li{
					margin-bottom:10px;
					a{
						color:$grey_text;
						text-decoration:none;
						font-size:16px;

						&:hover{
							color:#fff;
						}
					}
				}
			}

			&:first-child{
				padding-left:0;
				border-right:1px solid $grigio_logo_footer;

				img{
					width:100%;
					max-width:210px;
				}

				#back-to-original-site-footer{
					display:inline-block;
					text-decoration: none;
					padding:15px 30px;
					text-transform: uppercase;
					color:$site_black;
					font-size:20px;
					font-weight:$extra_weight_font;
					background-color:$grigio_logo_footer;
					margin-top:80px;
					margin-bottom:40px;
					@include transition(all 0.33s ease-in-out 0s);

					&:hover{
						opacity:.6;
					}
				}
			}

			&:first-child{
				padding-right:0;
			}

			#social-footer-row{
				margin-top:25px;
				a{
					display:inline-block;
					width:38px;
					height:38px;
					border:1px solid #fff;
					margin-right:10px;

					&#facebook-logo{
						>div{
							text-align:center;
							margin-top:7px;

							svg{
								height:22px;
							}
						}

						&:hover{
							background-color:#395798;
						}
					}

					&#instagram-logo{

						>div{
							text-align:center;
							margin-top:7px;

							svg{
								height:22px;
							}
						}

						&:hover{
							background: #d6249f;
						}
					}

					&#pinterest-logo{
						
						>div{
							text-align:center;
							margin-top:7px;

							svg{
								height:22px;
							}
						}
						&:hover{
							background:#C20724
						}
					}

					#twitter-logo{
						text-align:center;
						margin-top:7px;

						svg{
							height: 22px;
						}

						.twitter-logo-svg{
							@include transition(all 0.33s ease-in-out 0s);
						}

						&:hover .twitter-logo-svg{
							fill:#1DA1F2;
						}
					}

					#youtube-logo{
						text-align:center;
						margin-top:7px;
						svg{
							height:22px;
						}

						.youtube-logo-svg, .youtube-logo-svg-triangolo{
							@include transition(all 0.33s ease-in-out 0s);
						}

						&:hover .youtube-logo-svg{
							fill:#D61B26;
						}

						&:hover .youtube-logo-svg-triangolo{
							fill:#FFFFFF;
						}
					}

					#flickr-logo{
						text-align:center;
						margin-top:7px;
						svg{
							height:22px;
						}

						.flickr-logo-svg, .flickr-logo-svg{
							@include transition(all 0.33s ease-in-out 0s);
						}

						&:hover .flickr-logo-svg{
							fill:#0063DB;
						}

						&:hover .flickr-logo-svg-1{
							fill:#FF0084;
						}
					}
				}
			}
		}
	}
}
/*
################
# FOOTER STYLE #
################
*/

/*
################
# SLIDER STYLE #
################
*/
#homepage-container{
	position:relative;
	overflow:hidden;
	
	.slider-container{
		margin-bottom:4px;
		.image-slider-homepage{
			width:100%;
			height:650px;
			background-size:cover;
			background-position:center;
			background-repeat: no-repeat;
			background-color:#E9E9E9;
		}

		#left-homepage-slider{
			background-image: url('../img/left_arrow_slider.png');
			height:35px;
			width:19px;
			background-size: 100% 100%;
			background-repeat: no-repeat;
			position:absolute;
			top:50%;
			margin-top:-17px;
			left:45px;
			z-index:1;
			cursor: pointer;
		}

		#right-homepage-slider{
			background-image: url('../img/right_arrow_slider.png');
			height:35px;
			width:19px;
			background-size: 100% 100%;
			background-repeat: no-repeat;
			position:absolute;
			top:50%;
			margin-top:-17px;
			right:45px;
			cursor: pointer;
			z-index:1;
		}
	}

	#container-text-container{
		max-width:$width_homepage;
		width:100%;
		background-color:#fff;
		position:absolute;
		margin-top:-200px;
		margin-left:-375px;
		left:50%;
		padding:50px;
		text-align:center;
		z-index:2;

		#container-passaggi-lista{

			.container-passaggio{
				float:left;
				width:33%;
				text-align:center;
				margin-top:$margin-big;
				text-align: center;

				.img-container-passaggi{
					height:100px;

					img{
						max-height:100%;
						max-width:104px;
						display:inline-block;
						vertical-align:middle;
					}
				}

				p{
					font-size:18px;
					line-height:25px;
					margin-top:15px;
				}
			}
		}
	}

	#left-product-link{
		width:50%;
		float:left;
		padding-right:2px;
		text-decoration:none;
		position:relative;
		z-index:1;

		.image-background-square-homepage{
			background-size: auto 100%;
			background-position:center;
			background-repeat: no-repeat;
			background-color:#E9E9E9;
			width:100%;
			height:720px;
			@include transition(all 0.33s ease-in-out 0s);
		}

		.link-square-homepage{
			text-align:center;
			padding-top:$margin-light;
			padding-bottom:$margin-light;
			background-color:#fff;

			span:first-child{
				text-transform:uppercase;
				letter-spacing:1px;
				color:$black_title;
				font-weight:$light_font;
				font-size: 14px;
				display:block;
			}

			span:last-child{
				margin:10px 0;
				color:$black_title;
				font-weight:$extra_weight_font;
				font-size: 32px;
				display:inline-block;
				position:relative;

				img{
					position: absolute;
					right: -50px;
				    top: 13px;
					width: 40px;
					@include transition(all 0.33s ease-in-out 0s);
				}
			}
		}

		&:hover{
			.image-background-square-homepage{
				background-size: auto 105%;
			}
			span:last-child{
				img{
					right:-60px;
				}
			}
		}
	}

	#right-ambient-link{
		width:50%;
		float:left;
		padding-left:2px;
		text-decoration:none;
		position:relative;
		z-index:1;

		.image-background-square-homepage{
			background-image:url('../img/img_ambiente.jpg');
			background-size:120%;
			background-position:center;
			background-repeat: no-repeat;
			background-color:#E9E9E9;
			width:100%;
			height:720px;
			@include transition(all 0.33s ease-in-out 0s);
		}

		.link-square-homepage{
			text-align:center;
			padding-top:$margin-light;
			padding-bottom:$margin-light;
			background-color:#fff;

			span:first-child{
				text-transform:uppercase;
				letter-spacing:1px;
				color:$black_title;
				font-weight:$light_font;
				font-size: 14px;
				display:block;
			}

			span:last-child{
				margin:10px 0;
				color:$black_title;
				font-weight:$extra_weight_font;
				font-size: 32px;
				display:inline-block;
				position:relative;

				img{
					position: absolute;
					right: -50px;
				    top: 13px;
					width: 40px;
					@include transition(all 0.33s ease-in-out 0s);
				}
			}
		}

		&:hover{
			.image-background-square-homepage{
				background-size: 125%;
			}
			span:last-child{
				img{
					right:-60px;
				}
			}
		}
	}

	#black-square-under-link-box-home{
	    height: 96px;
	    width: 100%;
	    position: absolute;
	    bottom: 0px;
		background-color:$black_title;
	}
}
/*
####################
# END SLIDER STYLE #
####################
*/

/*
###################
# PAGINA PRODOTTO #
###################
*/
.single-product{
	#header-prodotto{
		#ambiente-space{
			float:left;
			width:50%;
			position:relative;
			right:50%;

			.slick-list, .slick-track, .slick-slide{
				height:100%;
			}

			#slider-ambienti-prodotto{

				figure{

					div{
						height:100%;

						.image-back-ambiente{
							width:100%;
							height:100%;
							background-repeat: no-repeat;
							background-position: center;
							background-size:cover; 
						}
					}
				}
			}

			#control-slider-container{
				position:absolute;
				z-index:10;
				bottom:50px;
				width:100%;
				text-align: center;

				#control-slider{
					margin:0 auto;
					display:inline-block;
					padding:10px;
					background-color:#fff;
					width:450px;
					position: relative;

					#zoom-image{
						position:absolute;
						top:18px;
						left:15px;

						img{
							width:25px;
							cursor: pointer;
						}
					}

					#prev-button-slider{
						border:2px solid $grigio_logo_footer;
						padding:10px;
						display: inline-block;
						cursor:pointer;

						img{
							height:13px;
							vertical-align:middle;
						}
					}

					#next-button-slider{
						border:2px solid $grigio_logo_footer;
						padding:10px;
						display:inline-block;
						cursor:pointer;

						img{
							height:13px;
							vertical-align:middle;
						}
					}

					#container-pagination-slider{
						display:inline-block;
						vertical-align: middle;
						max-width:280px;

						.single-image-pagination-slider{
							display:inline-block;
							margin:5px;
							background-color: $grigio_logo_footer;
							width:5px;
							height:5px;

							&.active-slide{
								border:2px solid $site_black;
								width:15px;
								height:15px;
								background-color: #fff;
								span{
									width:5px;
									height:5px;
									display:inline-block;
									padding:1px;
									background-color:$site_black;
									margin-bottom:5px;
								}
							}
						}
					}
				}
			}
		}

		#product-space{
			float:left;
			width:50%;
			position:relative;
			left:50%;
			text-align:center;
			background-color:$grigio_sfondo_pagina;

			.woocommerce-message{
				display:none;
			}

			.woocommerce-product-gallery{
				float:none;
				max-width:200px;
				width:100%;
				margin:0 auto;
			}

			.tm-extra-product-options .col-12, .tm-extra-product-options .tm-cell.col-12, .tc-cell.tc-col-12{
				float:left;
				width:50%;
			}

			.tm-extra-product-options .cpfclear{
				display:none;
			}

			.summary{
				float:none;
				margin:0 auto;
				max-width:600px;
				width:100%;

				p{
					padding:0 15px;
					margin-top:20px;
				}

				h2{
					display: none;
				}

				.variations{
					text-align:center;
					display: inline-block;

					tbody{
						display:block;
					}

					tr{
						display:inline-block;

						td{
							display:inline-block;
						}
					}

					.label{
						display:block;
						margin-top:10px;

						label{
							font-weight:$light_font;
							color:$site_black;
						}
					}

					.swatch{
						img{
							display:none;
						}
					}

					.tawcvs-swatches .swatch{
						width:150px;
						height:55px;
						opacity:1;
						color:$site_black;
						box-shadow:none;
						-webkit-border-radius:0;
						-moz-border-radius:0;
						border-radius:0;
						background-color:transparent;
						font-weight:$light_font;
						border:2px solid $site_black;
						margin-right:0;
						font-size:14px;

						&:last-child{
							&:before{
								content:url(../img/angolari_black_simbol.svg);
								display:block;
								height:25px;
								margin-top:5px;
								margin-bottom:-5px;
							}

							&.selected, &:hover{
								&:before{
									content:url(../img/angolari_white_simbol.svg);
									display:block;
									height:25px;
								}
							}
						}

						&:first-child{
							margin-top:-10px;

							&:before{
								content:url(../img/listelli_black_simbol.svg);
								display:block;
								height:25px;
								margin-top:5px;
								margin-bottom:-5px;
							}

							&.selected, &:hover{
								&:before{
									content:url(../img/listelli_white_simbol.svg);
									display:block;
									height:25px;
								}
							}
						}
					}

					.tawcvs-swatches .swatch.selected,.swatch:hover{
						background-color: $site_black;
						color:#fff;
					}
				}

				label{
					font-weight:$light_font;
					color:$site_black;
				}

				select{
					width:160px;
					border:2px solid $site_black;
					-webkit-border-radius: 0;
					-moz-border-radius: 0;
					border-radius: 0;
					font-size:13px;
					background-color:#fff;
					height:30px;
				}

				.tm-custom-prices-total{
					float:left;
				}
			}

			.product_title{
				margin-top:$margin-medium;
			}

			.product_subtitle{
				margin-bottom:25px;
			}

			.woocommerce-variation-price .price, .reset_variations, .tm-extra-product-options-container .price .amount, .summary > p.price, .summary .in-stock, .summary .tm-unit-price, .summary .tm-unit-price, .summary .tm-options-totals, .summary .tm-options-totals, .summary .product_meta, .tc-epo-totals{
				display:none!important;
			}

			#quantita-container{
				float:none;
				padding:0 15px;

				.qty{
					border:2px solid $site_black;
				}

				.quantity{
					float:left;

					input{
						font-size: 23px;
					    width: 40px;
					    text-align: center;
					}
				}

				#total-price-custom-js{
					float:right;
					font-size:24px;
					color:$black_title;

					span{
						font-size:35px;
					}

					div{
						font-size:14px;
						margin-top:10px
					}
				}

				#quantita-selector-container{
					position:relative;
					width:54px;
					text-align:left;

					#plus-quantity{
						background-color:$site_black;
						color:#fff;
						width:13px;
						height:16px;
						display:inline-block;
						vertical-align: middle;
						text-align:center;
						top:0;
						right:0;
						position:absolute;
						cursor:pointer;
						line-height: 13px;
					}

					#less-quantity{
						background-color:$site_black;
						color:#fff;
						width: 13px;
					    height: 16px;
					    display: inline-block;
					    vertical-align: middle;
					    text-align: center;
					    cursor:pointer;
					    line-height: 13px;
					    bottom: 0;
					    right: 0;
					    position: absolute;
					}
				}
			}

			.woocommerce-variation-add-to-cart{
				text-align:center;
			}

			.single_add_to_cart_button{
				background-color:transparent;
				border:2px solid $site_black;
				color:$site_black;
				margin-top:-90px;
				text-transform:uppercase;
				float:none;
			}
		}
	}

	#lista-pulsanti-link-prodotto{
		overflow:hidden;

		>div{
			display: inline-block;
			float:left;
			width:50%;

			&:first-child{
				width:25%;
				a{
					border-left:0;
				}
			}

			&:last-child{
				width:25%;
				a{
					border-right:0;
				}
			}

			a{
				text-decoration:none;
				color:$site_black;
				text-align:center;
				text-transform: uppercase;
				font-size:14px;
				display:block;
				border:2px solid $site_black;
				padding:10px;
				@include transition(all 0.33s ease-in-out 0s);

				&:hover{
					background:$site_black;
					color:$grigio_sfondo_pagina;
				}
			}
		}

		#central-element-altre-pagine-prodotto{
			a{
				border-left: 0;
				border-right:0;
			}
		}

		.titolo-altre-pagina-prodotto{
			display:inline-block;
			vertical-align: middle;
			width:100%;
		}
	}

	#esempio-packaging-container{
		background-color:$site_black;
		padding:$margin-big;
		text-align: center;

		h3{
			color:#fff;
			font-size:32px;
		}

		#esempio-packaging{
			max-width: 950px;
			margin:0 auto;
		}

		p{
			color:#fff;
		}

		#cosa-riceverai-container{
			max-width:1000px;
			overflow:hidden;

			img{

				&:first-child{
					float:left;
					width:50%;
				}

				&:last-child{
					float:right;
					width:50%;
				}

			}
		}
	}
}

#prodotti-correlati{
	max-width:1200px;
	margin:0 auto;
}

#container-prodotti-correlati{
	background-color:$grigio_sfondo_pagina;
	padding:$margin-big 15px;
	text-align:center;

	h4{
		color:$site_black;
		font-size:32px;
		margin-bottom:25px;
	}
}

#lista-prodotti-correlati{
	.single-prodotto-correlato{
		width:25%;
		float:left;
		padding:15px;
		display:block;
		text-decoration: none;

		.back-animation-scroll-product{
			position:relative;
			.animation-container{
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:0;
				background-color:$grigio_sfondo_prodotti_box;
				z-index:1;
				@include transition(height 600ms ease-out 0s);
			}
		}

		.container-img-prodotto-correlato{
			position:relative;

			.fade-back-animation{
				background-color:$grigio_sfondo_prodotti_box;
				width:100%;
				height:215px;
				position:absolute;
				top:0;
				z-index:3;
				@include transition(opacity 600ms ease-out 0s);
				
			}

			.replace-src{
				background-size:cover;
				background-repeat:no-repeat;
				background-position:center;
				height:215px;
				position:relative;
				z-index:2;
			}
		}

		&.active-scroll{
			.back-animation-scroll-product{
				.animation-container{
					height:100%;
				}
			}

			.fade-back-animation{
				opacity:0;
			}
			 .info-prodotto-correlato{
				opacity:1
			}
		}

		&:hover{

			img{
				opacity:0.7;
			}

			.info-prodotto-correlato{
				.info-prodotto{
					margin-top:-60px;
					margin-bottom:15px;

					.maggiori-dettagli-button{
						opacity:0.6;
					}
				}
			}
		}

		img{
			width:100%;
			@include transition(all 500ms ease-in-out 500ms);
			position:relative;
			z-index:2;
		}

		&.complete-animation-image-prodotto{
			img{
				@include transition(all 500ms ease-in-out 0s);
			}
		}

		.info-prodotto-correlato{
			background-color:$grigio_sfondo_prodotti_box;
			padding:10px;
			opacity:0;
			@include transition(all 500ms ease-in-out 600ms);
			position:relative;
			z-index:4;

			.info-prodotto{
				margin-top: -45px;
			    background-color: #fff;
			    padding: 10px;
				position: relative;
				@include transition(all 500ms ease-in-out 0s);

				b{
					font-weight:$extra_weight_font;
					color:$site_black;
					font-size: 24px;
					display: block;
				}

				span{
					display:inline-block;
					color:$site_black;
					text-transform: uppercase;
					margin-bottom:20px;
					margin-top:10px;
				}

				.tipologie-prodotto-correlato{
					overflow:hidden;

					.singola-tipologia{
						border:1px solid $site_black;
						float:left;
						text-align: center;
						padding:5px;
						width:50%;
						color:$site_black;
						@include transition(all 500ms ease-in-out 0s);

						&.active-price-list-product{
							background-color:$site_black;
							color:#fff;
						}
					}
				}

				.prezzo-prodotto-correlato{
					font-weight:$extra_weight_font;
					color:$site_black;
					font-size: 24px;
					margin:15px 0;
					@include transition(all 500ms ease-in-out 0s);

					span{
						position:relative;
						opacity:0.6;
						display:inline-block;
						margin-right:10px;

						&:before{
							position: absolute;
							content:" ";
							width:110%;
							top:45%;
							left:-5%;
							background-color:#555;
							height:5px;
						}
					}
				}

				.maggiori-dettagli-button{
					display:inline-block;
					width:100%;
					text-transform: uppercase;
					text-decoration: none;
					color:#fff;
					font-size:14px;
					background-color:$site_black;
					padding:10px;
					@include transition(all 500ms ease-in-out 0s);
				}
			}
		}
	}
}

#messaggio-avviso-malta{
	text-align:center;
	margin-bottom:25px;
	display:none;
}

.woocommerce div.product form.cart{
	margin-bottom:15px;
}

#dicitura-indicazione-giunta{
	margin-bottom:20px;
	font-size:12px;
	letter-spacing:1px;
}

.woocommerce-breadcrumb{
	display:none!important;
}
/*
#######################
# END PAGINA PRODOTTO #
#######################
*/

/*
###########################
# PAGINA AMBIENTE ARCHIVE #
###########################
*/
#content-ambienti{
	text-align: center;
	background-color: $grigio_sfondo_pagina;
	padding:50px 0;

	h2{
		text-transform:uppercase;
	}

	#lista-categorie-container{
		margin:50px auto;
		max-width:1200px;

		.singola-categoria-ambiente-container{
			padding:15px;
			width:33%;
			float:left;

			&:after {
				content: '';
				display: block;
				clear: both;
			}

			.singola-categoria-ambiente{
				background-color:#fff;
				padding-bottom:35px;
				position:relative;

				img{
					width:100%;
					@include transition(all 500ms ease-in-out 0s);
				}

				.info-link-to-categoria-container{
					position:absolute;
					z-index:3;
					bottom:10px;
					width:100%;
					@include transition(all 500ms ease-in-out 0s);

					.info-link-to-categoria{
						background-color:#fff;
						text-align:center;
						margin-left:15px;
						margin-right:15px;
						display:block;
						padding:10px;
						-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.18);
						-moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.18);
						box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.18);

						.pre-title-categoria{
							font-weight:$light_font;
							color:$site_black;
							text-transform:uppercase;
							@include transition(all 500ms ease-in-out 0s);
						}

						.nome-categoria-ambientazione{
							font-weight:$extra_weight_font;
							color:$site_black;
							font-size:32px;
							margin-bottom:10px;
							display:inline-block;
							@include transition(all 500ms ease-in-out 0s);
						}

						.button-vedi-esempi{
							text-decoration:none;
							color:#fff;
							display:block;
							background-color:$site_black;
							text-transform:uppercase;
							padding:15px;
							@include transition(all 500ms ease-in-out 0s);

							&:hover{
								background-color:$grey_text;
							}
						}
					}
				}

				.velina-hover-prodotti-ambienti{
					position: absolute;
					top:0;
					left:0;
					background-color:rgba(255,255,255,.65);
					@include transition(all 330ms ease-in-out 0s);
					width:100%;
					height:100%;
					z-index:2;
					opacity:0;

					.nome-prodotto-ambiente{
						position:absolute;
						top:40%;
						opacity:0;
						text-align: center;
						@include transition(all 330ms ease-in-out 130ms);
						width:100%;
						
						div{
							border-bottom:2px solid $black_title;
							display:inline-block;
							color:$black_title;
							font-size:24px;
							padding-bottom:10px;
							@include transition(all 330ms ease-in-out 130ms);
						}
					}
				}

				&:hover{

					img{
						opacity:.6;
					}

					.info-link-to-categoria-container{
						bottom:20px;

						.pre-title-categoria{
							color:$grey_text;;
						}

						.nome-categoria-ambientazione{
							color:$grey_text;
						}

					}

					.velina-hover-prodotti-ambienti{
						opacity:1;

						.nome-prodotto-ambiente{
							top:30%;
							opacity:1;
						}
					}
				}
			}
		}
	}

	&.content-page-singoli-ambienti{
		.singola-categoria-ambiente-container{
			width:25%!important;
		}
	}
}
/*
###############################
# END PAGINA AMBIENTE ARCHIVE #
###############################
*/

/*
#########################
# PAGINA LISTA PRODOTTI #
#########################
*/
.product-page-version{
	overflow:initial!important;
}

.product-list{
	padding-top:300px!important;
}

/*
#############################
# END PAGINA LISTA PRODOTTI #
#############################
*/

/*
###############
# WOOCOMMERCE #
###############
*/
#body{

	.button{
		margin-top:5px;
		display:inline-block;
		text-transform: uppercase;
		color:#fff;
		font-size:14px;
		background-color:$site_black;
		padding:10px;
		display:inline-block;
		@include transition(all 500ms ease-in-out 0s);

		&:hover{
			opacity:0.6;
		}
	}

	.main_container{
		background-color: $grigio_sfondo_pagina;
		padding-top:70px;
		
		.woocommerce{
			max-width:1200px;
			margin:0 auto;
			padding:50px 15px;

			.woocommerce-message{
				border-top-color:$site_black;

				&:before{
					color:$site_black;
				}
			}

			a.remove{
				color:#E42D1B!important;
				font-size: 21px;
				line-height: 16px;
				height: 20px;
				width: 20px;

				&:hover{
					color:#fff!important;
					background-color:#E42D1B!important;
				}
			}

			.cart-empty{
				padding-top:100px;
				text-align:center;
				font-size:18px;
				margin-top:0;
			}

			.return-to-shop{
				text-align: center;
				margin-bottom:50px;
			}

			.woocommerce-cart-form__cart-item{
				.product-name{
					a:first-child{
						font-weight:$extra_weight_font;
						text-decoration:none;
						color:$black_title;
					}
				}

				#plus-quantity, #less-quantity, #dicitura-quantita, #total-price-custom-js{
					display:none;
				}
			}

			.woocommerce-shipping-calculator{
				a{
					font-weight:$extra_weight_font;
					text-decoration:none;
					color:$black_title;
				}
			}

			td.product-name dl.variation p{
				margin-top:0px;
			}

			.tm-cart-edit-options{
				color:$black_title;
			}

			td.product-name dl.variation dt{
				margin-top:4px;
			}

			.woocommerce-billing-fields{
				h3{
					font-size:20px;
					font-weight:$extra_weight_font;
					margin-bottom:15px;
				}
			}

			form .form-row label{
				color:$black_title;
				font-size:16px;
			}

			form .form-row .input-text{
				font-size:14px;
				line-height:25px;
			}

			#order_review_heading{
				margin-left:10px;
				font-size:20px;
				font-weight:$extra_weight_font;
				margin-bottom:15px;
				margin-top:20px;
			}

			td.product-name .wc-item-meta p{
				margin-top:10px;
			}

			td.product-name .wc-item-meta .wc-item-meta-label{
				margin-top:4px;
			}

			.woocommerce-order{
				h2{
					margin-left:5px;
					font-size:20px;
					font-weight:$extra_weight_font;
					margin-bottom:15px;
				}
			}

			.woocommerce-order{
				text-align:center;
				.woocommerce-notice--success{
					background-color:#83c373;
					margin-bottom:10px;
					color:$black_title;
					padding:10px;
				}
			}

			ul.order_details li{
				margin-right:0;
				padding-right:0;
				width:25%;
			}

			#customer_login{
				h2{
					font-size:20px;
					font-weight:$extra_weight_font;
					margin-bottom:15px;
				}

				p{
					margin-top:15px;
				}
			}

			form.login, form.register{
				background-color:#fff;
			}

			.woocommerce-MyAccount-navigation{
				li{
					a{
						color:#fff;
						text-decoration:none;
						display:inline-block;
						background-color:$grey_text;
						padding:10px;
						width:200px;
						text-align: center;
						text-transform:uppercase;
						margin:5px 0;
						@include transition(all 500ms ease-in-out 0s);

						&:hover, &.is-active{
							background-color:$site_black;
						}
					}

					&.is-active a{
						background-color:$site_black;
					}
				}
			}
		}

		.woocommerce-MyAccount-content{
			h2{
				font-size:20px;
				font-weight:$extra_weight_font;
				margin-bottom:15px;
			}

			.woocommerce-order-details{
				margin-top: 15px;
			}

			p{
				margin-top:0;
			}
		}

		.woocommerce-MyAccount-content{
			h3{
				font-size:20px;
				font-weight:$extra_weight_font;
				margin-bottom:15px;
				margin-left:0;
			}
		}

		.woocommerce-cart-form, .cart-collaterals{
			max-width:1200px;
			margin:0 auto;
		}
	}
}

.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected], .select2-container--default .select2-results__option[aria-selected=true], .select2-container--default .select2-results__option[data-selected=true]{
	background-color:$site_black!important;
	color:#fff!important;
	outline:0;
}

.select2-container--open .select2-dropdown--below{
	margin-top:4px;
}

.woocommerce-password-strength{
	color:$site_black!important;
}

.woocommerce-Address address{
	padding-top:50px;
}

.woocommerce-Address-title {
	max-width:320px;
}
/*
###################
# END WOOCOMMERCE #
###################
*/

/*
############################
# PAGINA RISULTATI RICERCA #
############################
*/
#body{
	#container-pagina-cerca{
		background-color:$grigio_sfondo_pagina;
		padding:50px 0;

		.page_search{
			max-width:1200px;
			margin:0 auto;
			overflow:hidden;

			.sing_result_link{
				float:left;
				text-decoration:none;
				width:25%;

				>div{
					margin:15px;
					background-color:#fff;
					text-align:center;
					padding:10px 0;

					.title_prod_link{
						color:$site_black;
						font-size:24px;
						font-weight:900;
						display:inline-block;
						margin-bottom:10px;
					}

					img{
						max-width:100%;
						@include transition(all 500ms ease-in-out 0s);
					}

					.pseudo-button-search-result{
						background-color:$site_black;
						font-size:20px;
						width:100%;
						color:#fff;
						padding:10px;
					}
				}

				&:hover{
					img{
						opacity:0.6;
					}
				}
			}
		}
	}
}
/*
################################
# END PAGINA RISULTATI RICERCA #
################################
*/

/*
#############
# FORM SITO #
#############
*/
#body{
	input[type='text'], input[type="tel"], input[type="email"], input[type="password"],textarea {
		background-color:transparent;
		border:0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border-bottom:1px solid $site_black;
		font-size:16px;
		font-weight:500;
		outline:0;
	}

	.select2-container--default .select2-selection--single{
		background-color:transparent;
		border:0;
		border-bottom:1px solid $site_black;
		font-size:16px;
		font-weight:500;
		outline:0;
	}

	input[type="submit"]{
		text-transform: uppercase;
		text-decoration: none;
		color:#fff;
		font-size:14px;
		background-color:$site_black;
		padding:10px;
		@include transition(all 500ms ease-in-out 0s);

		&:hover{
			opacity:0.6;
		}
	}


}
/*
#################
# END FORM SITO #
#################
*/

/*******************
banner cookie
******************/

#cookie-notice {
    background-color: #3c3c3b !important;
    min-width: inherit;
    max-width: 400px;
    width: 94%;
    padding: 10px;
    left: 10px!important;
    bottom: 10px;
	font-size: 16px;
	min-width:auto!important;
}

#cn-notice-text {
    float: left;
    font-weight: 200;
}

#cookie-notice .button {
    background: #fff;
    padding: 5px 22px;
    display: inline-block;
    margin: 15px 5px 0;
    transition: .5s;
	color: #3c3c3b;
	text-decoration:none;
}

#cookie-notice .button:hover {
    color: #3C3C3B;
    background: rgba(255, 255, 255, 0.9);
}


/*******************
fine banner cookie
******************/

/*
###############
# MEDIA QUERY #
###############
*/
@media only screen and (max-device-width: 1800px) {

	#homepage-container #right-ambient-link .image-background-square-homepage{
		background-size: auto 100%;

		&:hover{
			background-size:auto 105%;
		}
	}
}

@media only screen and (max-device-width: 1400px) {

	footer #footer-content .row-footer{
		padding-left: 50px;
	}

}

@media only screen and (max-device-width: 993px) {

	#body .site .header_container .logo_header{
		float: none;
		text-align: center;
		width: 100%;
	}

	#body .site .header_container .main-navigation{
		float: none;
		width:100%;
		text-align: center;
	}

	#homepage-container #container-text-container{
		max-width: 700px;
		margin-left:-350px;
	}

	#content-ambienti.content-page-singoli-ambienti .singola-categoria-ambiente-container{
		width:33%!important;
	}

	.product-list{
		padding-top:420px!important;
	}

	#lista-prodotti-correlati .single-prodotto-correlato{
		width:33%;
	}

	.single-product #header-prodotto #product-space{
		width:100%;
		left:0;
	}

	.single-product #header-prodotto #ambiente-space{
		width:100%;
		right:0;
	}

	#slider-ambienti-prodotto{
		height: 500px!important;
	}

	#body .site header #cerca-header-container #container-relative{
		margin-top:60px;
	}

}

@media only screen and (max-device-width: 768px) {

	#body .site header{
		margin:0;
	}

	#menu-menu-principale{
		padding:15px 0;
	}

	#body .site .header_container .main-navigation{
		float:right;
		width:auto;
	}

	#body .site .header_container .logo_header{
		float:left;
		width:auto;
	}

	footer #footer-content .row-footer:first-child div{
		max-width:300px;
		margin: 0 auto;
	}

	#body .site header{
		bottom:0;
		width:100%;
	}

	#body .site .header_container .logo_header a img{
		width:100px;
	}

	#body .site .header_container .main-navigation #other-function-menu #vertical-bar-menu{
		display:none;
	}

	#body .site .header_container .main-navigation{
		margin-top:0;
	}

	#hmb_plz{
		color: $black_title;
	    display: inline-block;
	    vertical-align: middle;
	    @include transition(all 0.77s ease-in-out);
	    height: 30px;

	    span{
	    	display: block;
		    background-color: $black_title;
		    width: 25px;
		    height: 3px;
		    line-height: 0;
		    margin: 4px auto;
		    @include transition(all 0.77s ease-in-out);
	    }

	    &.active-menu{
			span{
			  	&:first-child{
			  		-ms-transform: rotate(45deg);
				    -webkit-transform: rotate(45deg);
				    transform: rotate(45deg);
				    margin-top:10px;
			   	}

			   	&:nth-child(2){
			   		opacity:0;
			   	}

			   	&:last-child{
			   		-ms-transform: rotate(-45deg);
				    -webkit-transform: rotate(-45deg);
				    transform: rotate(-45deg);
				    margin-top:-14px;
			   	}
			}
		}
	}

	#body .site .header_container .main-navigation .menu-menu-principale-container{
		position:fixed;
		z-index:10;
		bottom:-100%;
		width:100%;
		left:0;
		background-color:#fff;
	    @include transition(all 0.33s ease-in 0.33s);

	    li{
	    	opacity:0;
		    @include transition(all 0.33s ease-in 0s);
	    }

		&.open-menu-mobile{
			bottom:50px;
		    @include transition(all 0.33s ease-in-out 0s);

			li{
				opacity:1;
			    @include transition(all 0.33s ease-in-out 0.33s);
			}
		}
	}

	#body .site .header_container .main-navigation .menu-menu-principale-container #menu-menu-principale li{
		display:block;
		text-align: center;
		padding:10px;
	}

	#body .site .header_container .logo_header, #body .site .header_container .main-navigation #other-function-menu{
		position:relative;
		z-index: 100,
	}

	#homepage-container .slider-container .image-slider-homepage{
		height:300px;
	}

	#homepage-container #container-text-container{
		position:initial;
		margin-top:0;
		margin-left:0;
		padding:20px 10px;
	}

	#homepage-container #left-product-link .image-background-square-homepage, #homepage-container #right-ambient-link .image-background-square-homepage{
		height:200px;
	}

	#homepage-container #left-product-link .link-square-homepage span:last-child img, #homepage-container #right-ambient-link .link-square-homepage span:last-child img{
		position:initial;
	}

	#homepage-container #container-text-container #container-passaggi-lista .container-passaggio{
		min-width:140px;
	}

	footer #footer-content .row-footer{
		width:50%;
		padding:10px;
	}

	footer #footer-content .row-footer:first-child{
		border:0;
		text-align:center;
		width: 100%;
	}

	footer #footer-content .row-footer:last-child{
		width:100%;
		clear:left;
		margin-bottom: 50px;
	}

	#content-ambienti #lista-categorie-container .singola-categoria-ambiente-container{
		width:50%;
	}

	#content-ambienti.content-page-singoli-ambienti .singola-categoria-ambiente-container{
		width:50%!important;
	}

	.product-list{
		padding-top:50px!important;
	}

	#lista-prodotti-correlati .single-prodotto-correlato{
		width:50%;
	}

	#container-prodotti-correlati{
		padding:50px 20px;
	}

	#slider-ambienti-prodotto{
		height:400px!important;
		padding:15px;
	}

	.single-product #header-prodotto #ambiente-space #control-slider-container{
		position:initial;
		margin:10px auto 35px;
	}

	.single-product #header-prodotto #ambiente-space{
		background-color: $grigio_sfondo_pagina;
	}

	#product-space > div > div > form{
		max-width:300px;
		margin-right:auto;
		margin-left:auto;
	}

	.single-product #header-prodotto #ambiente-space #control-slider-container #control-slider{
		width: 100%;
		max-width: 300px;
	}

	.single-product #header-prodotto #product-space .woocommerce-product-gallery{
		max-width:200px;
	}

	.single-product #header-prodotto #product-space #quantita-container .quantity, .single-product #header-prodotto #product-space #quantita-container #total-price-custom-js{
		float:none;
		width:100%;
		margin-top:25px;
	}

	.single-product #header-prodotto #product-space #quantita-container #quantita-selector-container{
		margin:0 auto;
	}

	.single-product #lista-pulsanti-link-prodotto > div{
		width:42%;
	}

	.single-product #lista-pulsanti-link-prodotto > div:first-child, .single-product #lista-pulsanti-link-prodotto > div:last-child{
		width:29%;
	}

	.single-product #lista-pulsanti-link-prodotto > div a{
		height:50px;
	}

	.single-product{
		#esempio-packaging-container{
			#cosa-riceverai-container{
				max-width:500px;
				margin-top:50px;
				img{
					&:first-child{
						width:100%;
					}
					&:last-child{
						width:100%;
					}
				}
			}
		}
	}

	.single-product #header-prodotto #product-space .single_add_to_cart_button{
		margin-top:25px;
	}

	.woocommerce .woocommerce-MyAccount-navigation{
		margin-bottom:25px;
		text-align:center;
	}

	#body .site header #cerca-header-container #container-relative{
		margin-top:10px;
	}

	#lista-prodotti-correlati .single-prodotto-correlato .info-prodotto-correlato .info-prodotto .tipologie-prodotto-correlato .singola-tipologia{
		font-size:14px;
	}

	.single-product #lista-pulsanti-link-prodotto .titolo-altre-pagina-prodotto{
		font-size:13px;
	}

	.single-product #header-prodotto #ambiente-space #control-slider-container #control-slider #zoom-image{
		position:initial;
	}

	#body .main_container{
		padding-top:0
	}

	#homepage-container #right-ambient-link .image-background-square-homepage{
		background-size: 100%;
	}

	#homepage-container #container-text-container{
		max-width:100%;
		margin-left:0;
	}
}

@media only screen and (max-device-width: 480px) {

	#content-ambienti #lista-categorie-container .singola-categoria-ambiente-container{
		width:100%;
		max-width:320px;
		display:inline-block;
		position:initial!important;
		float:none;
	}

	#content-ambienti.content-page-singoli-ambienti .singola-categoria-ambiente-container{
		width:100%!important;
	}

	#container-prodotti-correlati{
		padding:50px 40px;
	}

	#lista-prodotti-correlati .single-prodotto-correlato{
		width:100%;
	}

	.single-product #lista-pulsanti-link-prodotto > div a{
		height:55px;
	}

	#homepage-container #right-ambient-link, #homepage-container #left-product-link{
		width:100%;
	}

	#content-ambienti #lista-categorie-container{
		text-align:center;
	}

	#homepage-container #left-product-link .image-background-square-homepage, #homepage-container #right-ambient-link .image-background-square-homepage{
		background-size:cover;
	}

	#homepage-container #container-text-container #container-passaggi-lista .container-passaggio p{
		font-size: 11px;
		line-height: 17px;
		font-weight: 800;
		margin-top: 15px;
	}

	#homepage-container #container-text-container #container-passaggi-lista .container-passaggio .img-container-passaggi img{
		max-height: 39px;
		max-width:auto;
	}

	#homepage-container #container-text-container #container-passaggi-lista .container-passaggio .img-container-passaggi{
		height:auto;
	}

	#homepage-container #container-text-container #container-passaggi-lista .container-passaggio{
		min-width:auto;
		padding:0 5px;
	}
}
/*
###############
# MEDIA QUERY #
###############
*/

.in-offerta{
	position:absolute;
	top:-30px;
	left:-30px;
	background-color:#555;
	border-radius:50%;
	width:80px;
	height:80px;
	padding:30px 0;
	z-index:10;
	text-align:center;
	color:#fff;
}

.onsale{
	display:none;
}